<form [formGroup]="form">
  <label for="oldPassword">Old Password</label>
  <input type="text"
    id="oldPassword"
    formControlName="oldPassword"
    class="form-control">
  <div *ngIf="oldPassword.pending"
    class="alert alert-info">
    Validating...
  </div>
  <div *ngIf="oldPassword.touched && oldPassword.errors">
    <div class="alert alert-danger"
          *ngIf="oldPassword.errors.minlength || oldPassword.errors.required">
      Old Password is required and must be 3 chars min 
    </div>
    <div *ngIf="oldPassword.errors.oldPasswordIncorrect"
      class="alert alert-danger">
      Incorrect Password
    </div>
  </div>
  <label for="newPassword">New Password</label>
  <input type="text"
    id="newPassword"
    formControlName="newPassword"
    class="form-control">
  <div *ngIf="newPassword.touched && newPassword.errors && (newPassword.errors.minlength || newPassword.errors.required)" 
    class="alert alert-danger">
    New password is empty too short
  </div>
  <input type="text"
    id="repeatPassword"
    formControlName="repeatPassword"
    class="form-control">
  <div class="alert alert-danger" *ngIf="form.dirty && form.errors && form.errors.passwordsMustMatch">
    New passwords don't match
  </div>
  {{form.errors|json}}

  <button [disabled]="!form.valid" 
    type="submit" class="btn btn-primary">
    Send
  </button>
</form>