<!-- <app-bootstrap-panel>

</app-bootstrap-panel>
<!-- <h1>Angular</h1>

<tilecase></tilecase>
<courses></courses>
<authors></authors> -->
<!-- <app-reusable-like [isActive]="true" [likesCount]="99"></app-reusable-like> -->

<!-- <app-course-form></app-course-form> -->
<!-- <contact-form></contact-form>
<app-zippy [title]="'Holaviteh'">
    Hace un frío así como de cagarse, viteh
</app-zippy> -->

<!-- <new-course-form></new-course-form>

<signup-form></signup-form> -->

<!-- <change-password></change-password> -->
<!-- <app-posts></app-posts> -->
<!-- <app-github-followers></app-github-followers> -->

<navbar></navbar>